@page "/cards/add"
@using Cardalog.Models
@inject HttpClient Http

<h1>Create a card</h1>
@if (card != null)
{
  <EditForm Model="@card" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-row">
      <div class="form-col">
        <InputText id="Title" @bind-Value="card.Title" placeholder="Title" />
      </div>
      <div class="form-col">
        <InputText id="Type" @bind-Value="card.Type" placeholder="Type" />
      </div>
      <div class="form-col">
        <InputText id="Subtype" @bind-Value="card.Subtype" placeholder="Subtype" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-col">
        <InputText id="Rarity" @bind-Value="card.Rarity" placeholder="Rarity" />
      </div>
      <div class="form-col">
        <InputText id="Cost" @bind-Value="card.Cost" placeholder="Cost" />
      </div>
      <div class="form-col">
        <InputNumber id="ConvertedCost" @bind-Value="card.ConvertedCost" placeholder="Converted Cost" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-col">
        <InputText id="Text" @bind-Value="card.Text" placeholder="Text" />
      </div>
      <div class="form-col">
        <InputText id="FlavorText" @bind-Value="card.FlavorText" placeholder="Flavor Text" />
      </div>
      <div class="form-col">
        <InputNumber id="Power" @bind-Value="card.Power" placeholder="Power" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-col">
        <InputNumber id="Toughness" @bind-Value="card.Toughness" placeholder="Toughness" />
      </div>
      <div class="form-col">
        <InputNumber id="CardNumber" @bind-Value="card.CardNumber" placeholder="Card Number" />
      </div>
      <div class="form-col">
        <InputText id="Artist" @bind-Value="card.Artist" placeholder="Artist" />
      </div>
    </div>

    <h2>Expansion</h2>
    <div class="form-row">
      <div class="form-col">
        <InputText id="ExpansionName" @bind-Value="card.Expansion.Name" placeholder="Name" />
      </div>
      <div class="form-col">
        <InputNumber id="ExpansionCards" @bind-Value="card.Expansion.TotalCards" placeholder="Card Count" />
      </div>
      <div class="form-col">
        <InputText id="ExpansionAbbreviation" @bind-Value="card.Expansion.Abbreviation" placeholder="Abbreviation" />
      </div>
      <div class="form-col">
        <InputText id="ExpansionCopyright" @bind-Value="card.Expansion.Copyright" placeholder="Copyright" />
      </div>
    </div>

    <br />
    <button type="submit">Submit</button>
  </EditForm>
}

@code {
  private Card card;

  protected override async Task OnInitializedAsync()
  {
    card = new Card
    {
      Expansion = new Expansion()
    };
  }

  private async void HandleValidSubmit()
  {
    await Http.PostJsonAsync("http://localhost:7071/api/cards", card);
    Console.WriteLine("Card submitted successfully.");
  }
}
