@namespace Cardalog.Shared.Components

<nav class="navbar position-fixed bg-light w-100">
  <a class="navbar-brand">Cards</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <button type="button" class="btn btn-outline-success oi oi-plus" data-toggle="modal" data-target="@ModalName"></button>
    </li>
  </ul>
</nav>

@code {
  private string modalName;
  [Parameter]
  public string ModalName
  {
    get
    {
      return modalName.StartsWith("#") ? modalName : $"#{modalName}";
    }
    set
    {
      modalName = value;
    }
  }
}