@namespace Cardalog.Shared.Components
@using Cardalog.Models

@if (Cards.Count() > 0 && GetMatches().Count() > 0)
{
  <InputSelect id="mtg-card-select" @bind-Value="titleExpansion">
    <option value="Matches">Matches</option>
    @foreach (var te in GetMatches())
    {
      <option value="@te" @onclick="OnClick">@te</option>
    }
  </InputSelect>
}

@code {
  [Parameter]
  public IEnumerable<Card> Cards { get; set; }

  [Parameter]
  public string SearchTerm { get; set; }

  [Parameter]
  public EventCallback<string> CardSelected { get; set; }

  private string titleExpansion;

  public IEnumerable<string> GetMatches()
  {
    if (SearchTerm?.Length > 0)
    {
      return (from c in Cards
             where c.Title.StartsWith(SearchTerm, true, System.Globalization.CultureInfo.InvariantCulture)
             select c.TitleExpansion).Distinct();
    }
    return new List<string>();
  }

  private void OnClick()
  {
    Console.WriteLine($"Clicked value {titleExpansion}");
    CardSelected.InvokeAsync(titleExpansion);
    titleExpansion = null; // Title must be reset else the drop down list misbehaves when the search term is changed.
  }
}